<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Personal details page</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="../assets/css/styles.css" />
</head>

<body>
	<div class="content">
		<center>
			<h1>B Rupesh</h1>
		</center>
		<hr />
		<img class="roundbrd" src="../assets/img/profile.png" alt=" profile image" srcset="" />
		<b>Email :</b>krishnaleena222@gmail.com<br />
		<b>phone :</b>7075608796 <br />
		<b>D/B &emsp;:</b> 08/01/2002 <br />
		<b>Git &nbsp;&emsp;:</b><a href="https://github.com/Rupesh-klr/">https://github.com/Rupesh-klr/</a>
		<hr />

		<h2>Objective</h2>
		<p>
			&emsp;&emsp; To Expertise in the field of Information Technology
			so as to achieve excellence in this sector, and to contribute
			for the well-being of as well as of the society.
		</p>
		<hr />

		<h2>Techincal Skills</h2>
		<div>
			<div id="leftts">
				Python <br />
				Java <br />
				React
			</div>
			<div id="leftts">
				Html <br />
				CSS <br />
				React
			</div>
			<div id="leftts">
				SQL <br />
				DSA <br />
				.
			</div>
		</div>
		<hr />

		<h2>Personal Details</h2>
		<div id="left">
			<b>Gender</b>
			<b>Marital Status</b>
			<b>Nationality</b>
			<b>place</b>
		</div>
		<div id="right">
			:&nbsp;Male<br />
			:&nbsp;Unmarried <br />
			:&nbsp;Indian <br />
			:&nbsp;Chittoor <br />
		</div>
	</div>
</body>

</html>