<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/styless.css"
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
      </div>
  
<div class="container">
          <div class="row ">
            <div class="col-md-8">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSwC1_PNX-U5rNNGC3vpSWG56D9-DfKlH0Cdg4kFOH_P872xTg6PJrLulXpDzWTCEiEy4&usqp=CAU" class="img2" alt="image" srcset="">
                <div class="row sub">
                    <span>Subscribe to newsletter</span>
                </div>
                <div class="row">
                    <button class="btn btn-primary"><i class="fa fa-facebook"></i> | Facebook</button>
                    <button class="btn btn-danger"><i class="fa fa-ban"></i> | Banned</button>
                    <button class="btn btn-success"><i class="fa fa-trophy"></i> | Trophy</button>
                    <button class="btn btn-info"><i class="fa fa-info-circle"></i> | Information</button>
                    <button class="btn btn-dark"><i class="fa fa-moon-o"></i> | Moon</button>
                    <button class="btn btn-warning"><i class="fa fa-thermometer-full"></i> | Thermometer</button>
                </div>
                <div class="row ">
                    <div class="relatedclass">
                        <span>&#8594;Related Topics</span>

                    </div>
                    <button type="button" class="btn btn-outline-primary btn-sm col-12">Small button</button>
                    <button type="button" class="btn btn-secondary btn-sm col-12">big button</button>
                    <button type="button" class="btn btn-secondary btn-sm">large button</button>
                </div>
                <div class="row">
                <span>&#8594;About The Author</span>
                <p>Siva Prasad. Senior writer for windows and Security (422 Articles) Produced in Datazoic Machines PVT LTD
                    Siva Prasad. Senior writer for windows and Security (422 Articles) Produced in Datazoic Machines PVT LTD </p>
                </div>
            </div>
            <div class="col-md-4" >
                <img src="../assets/img/shiva_image.png" class="img2" alt="image2"/ >
                <h1 style="border: 2px solid silver;">Trending Now</h1>
                <div class="row m-4">
                    <div class="col-sm-4">
                        <img     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRho0kKvooMKd1CUw4E3tQUPdmQiM8E5l4LhurZhbRJCQ&s"  width="75px"  alt="Picture 1 explaining for besided paragraphy" >
                    </div>
                    <span>Tip: You can also add the cursor property with a value of "not-allowed", which will display a "no parking sign"</p>
                </div>
                <div class="row m-5">
                    <div class="col-sm-4">
                        <img   src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRho0kKvooMKd1CUw4E3tQUPdmQiM8E5l4LhurZhbRJCQ&s" alt="Picture 2 explaining for besided paragraphy" width="75px" >
                    </div>
                    <span>Use the opacity property to add transparency to a button look).hich will display a "no parking sign" when you mouse over the button:</p>
                </div>
            </div>
          </div>
          
</div>

</body>
</html>
