#RoomFrom form{
    max-width: 450px;
    /* width: 430px; */
    border: 2px solid black;
    padding: 25px;
    margin: auto;
}
#RoomFrom label{
    padding-left: 10px;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
	background-color: #fff;
	padding: 20px;
	max-width: 400px;
	margin: 100px auto;
	border-radius: 5px;
}
.close {
	float: right;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}
input,
button {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

#searchtext,#valueFiled{
    width: 200px;
    max-width:  200px;
    height: 40px;
    padding: 0px;
    margin: 0px;
}
 #valueFiled > div:nth-child(1) > input,
#valueFiled > div.form-group.text-right.col-md-6.m-0 > input,
    #valueFiled > div.form-group.text-right.col-md-6.m-0 > input,#valueFiled > div:nth-child(1) > input{
        height: 100%;
        width: 100px;
        padding-left: 20px;
    }
    #valueFiled > div:nth-child(1) > #min,#valueFiled > div.form-group.text-right.col-md-6.m-0 > #max{
        position: absolute;
        color: hsl(203, 89%, 52%);
        left: 20px;
        font-weight: 700;
    }
    #optionsearch{
        width: 100px;
        font-size: 1rem;
        height: 40px;
        padding: 0px;
        max-width: 100px;
    }