.form1{
    text-align: center;
    border: 2px solid #000;
    width: 500px !important;
    margin: auto;
    height: 250px;
}
.item{
    padding: 20px;
}
body{
    background-color: #f5f8c8 !important;
}

.tableFieds{
    border: 2px solid #000;
    width: fit-content;
    padding: 10px 20px;
    margin: auto;
    margin-top: 30px;
}
.topSec{
    display: flex;
}
.eleField{
    padding-left: 10px;
    border-left: 2px solid;
    width: 100px !important;
    height: 40px !important;
}
.eleField.bonn{                
    border-left: 0px solid #fff;
}
.topSec.und{
    border-bottom: 2px #000 solid;
    border-bottom: 2px #000 solid;
    margin-bottom: 20px;
}
.topSec.und .eleField{
    padding: auto;
    padding-top: 20px;
    margin: auto; 
    border-left: 0px solid #fff;
}
.eleField.name-field {
    width: 250px !important;
    font-weight: bold;
}
.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    width: 100px;
    margin: 0px !important;
}
.form1{
    padding-top: 40px;
    background-color: #08aac175 !important;
}
.form2 .item{
    display: inline !important;
}

.page-heading{
    text-align: center !important;
    color: #1b34b7d1!important;
}
#floatEle{
    display: flex;
    position: relative;
    float: right;
    top: -80px  !important;
    left: -20px !important;
}

#TAID,#txtAmtID{
    border-top: 2px dashed;
    border-bottom: 2px dashed;

}