<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
			crossorigin="anonymous" />
		<link rel="stylesheet" href="../assets/css/styles.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<title>Document</title>
	</head>
	<body class="bg-body-secondary">
		<div class="body1">
			<div class="container-lg">
				<!-- header part-logo and nav bar menu option -->
				<header class="bg-secondary">
					<nav class="navbar">
						<div class="container m-0">
							<img
								src="../assets/img/default-logo.png"
								alt="logo" />
							<button
								class="navbar-toggler me-5"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#navbarText"
								aria-controls="navbarText"
								aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon me-1"></span>
							</button>
						</div>
					</nav>
				</header>
				<!-- part-1 -->
				<div class="part1 bg-black text-bg-primary">
					<div class="row  justify-content-between">
						<img
							class=" col-md-12 col-lg-4  p-0 youngwomen "
							src="../assets/img/young-woman-1867618_960_7201.jpg"
							alt="young-woman" />
							<h1 class="col-md-12 col-lg-6  fw-bolder">7 Ways To Be Happy Now</h1>
						
					</div>
					<div class="row text-start">
						<div class="col-12 col-lg-9">
							<img
								class="col-7 girl-26 "
								src="../assets/img/girl-2626753_960_720.jpg"
								alt="girl-g4a6256b9b_1280 image" />
							<img
								class="col-7"
								src="../assets/img/girl-g4a6256b9b_1280.jpg"
								alt="girl-g4a6256b9b_1280 image" />
						</div>
						<div class="col-12 col-lg-3 p-3 p-lg-0">
							<div class="col-12">
								he original words and form of a written or
								printed or emended copy of an original work.
							</div>
							<img
								class="col-8 col-lg-12 mt-5 mb-3"
								src="../assets/img/girl-g01667442f_1280.jpg"
								alt="girl-g01667442f" />
							<p>
								Image from
								<span class="text-decoration-underline"
									>Pixabay</span
								>
							</p>
						</div>
					</div>
					<div class="col align-self-center text-center">
						<button class="btn btn-light ps-3 pe-3 rounded-0">
							Learn More
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- part 2 -->

		<div class="container-lg text-center">
			<div class="row part2 justify-content-evenly">
				<div class="col-12 col-sm-6 col-lg-4 text-bg-light text-black pb-4">
					<h1>A</h1>
					<div class="part2text">
						Goals and <t class="fw-bold">Mission</t>
					</div>
					<p class="p-2 pb-1">
						Are you tired of typing the whole text to extract it
						from an image? In this era of technology, it is a big
						miss if you have to .
					</p>
					<a class="text-bg-light" href="#">MORE</a>
				</div>
				<div class="col-12 col-sm-6 col-lg-4  text-bg-danger text-light">
					<h1>B</h1>
					<div class="part2text">
						How to <t class="fw-bold">Be Happy</t>
					</div>
					<p class="p-2 pb-1">
						Are you tired of typing the whole text to extract it
						from an image? In this era of technology, it is a big
						miss if you have to .
					</p>
					<a class="text-bg-danger" href="#">MORE</a>
				</div>
				<div class="col-12 col-sm-6 col-lg-4  text-bg-light text-black">
					<h1>C</h1>
					<div class="part2text">
						Happy in <t class="fw-bold">sports</t>
					</div>
					<p class="p-2 pb-1">
						Are you tired of typing the whole text to extract it
						from an image? In this era of technology, it is a big
						miss if you have to .
					</p>
					<a class="text-bg-light" href="#">MORE</a>
				</div>
			</div>
			<!-- part 3 -->
			<div class="row justify-content-lg-between justify-content-end pb-5">
				<div class="col-12 col-lg-4 text-start">
					<h2 class="fw-bold text-danger">
						7 tips to live a happier life
					</h2>
					<img
						class="col-7 col-lg-12  border border-5 border-danger "
						src="../assets/img/jhjjjj-min.jpg"
						alt="peacefully expertion" />
					<p class=" mt-5 ">
						Images from
						<span class="text-decoration-underline  ">Freepik</span>
					</p>
				</div>
				<div class="col-8 col-lg-6 text-end">
					<img
						class="col-6 border border-5 border-danger peacfullyimg mb-4"
						src="../assets/img/dff.jpg"
						alt="peacefully expertion" />
					<p>
						14A basic CSS/HTML question. As shown in my screenshot,
						the arrow is slightly above the mid point of the text
						following that. Probably this is basic stuff, but what
						property in css will help me do that esse cillum.
					</p>
					<p>
						Navbar themes are easier than ever thanks to Bootstrap’s
						combination of Sass and CSS variables. The default is
						our “light navbar” for laborum.
					</p>
				</div>
			</div>
			<!-- part 4 -->
			<div class="row justify-content-center text-center text-lg-start">
				<div class="col-9 part4size">
					<img
						class="col-9 minimg1"
						src="../assets/img/-min.jpg"
						alt="-min" />
					<img
						class="col-6 lifegurde py-lg-0 py-5"
						src="../assets/img/life-guard-chair-flotation-buoy-sea-shore-concept_53876-137591.jpg"
						alt="life life-guard-chair-flotation-buoy-sea-shore-concept_53876-137591"
						srcset="" />
					<img
						class="col-8 minimg2 my-lg-0 my-4"
						src="../assets/img/-min (1).jpg"
						alt="-min  1"
						srcset="" />
				</div>
			</div>
			<!-- part 5 -->
			<div
				class="row text-start justify-content-between bg-body-secondary text-black m-lg-0 ms-3">
				<div class="col-9 col-lg-5 ">
					<h1 class="text-danger fw-bolder">
						Does travel make you happy?
					</h1>
					<p>
						An element with position: absolute; is positioned
						relative to the nearest positioned ancestor (instead of
						positioned relative to the viewport, like fixed).
						However; if an absolute positioned element has no
						positioned ancestors,
					</p>
				</div>
				<div class="col-9 col-lg-5 text-start ">
					<p class="text-start">
						Lorem ipsum dolor sit amet, illum definitiones no quo,
						maluisset concludaturque et eum, altera fabulas ut quo.
						Atqui causae gloriatur ius te, id agam omnis evertitur
						eum. Affert laboramus repudiandae nec et. Inciderint
						efficiantur his ad. Eum no molestiae voluptatibus.
					</p>
					<button class="btn btn-danger  ps-3 pe-3 rounded-0">
						Learn More
					</button>
					<p class="text-start mt-4"> 
						Images from
						<span class="text-decoration-underline">Freepik</span>
					</p>
				</div>
			</div>
			<!-- part 6 -->
			<div class="row text-start">
				<div class="col-8" style="height: 350px">
					<img
						class="col-7 back"
						src="../assets/img/rtt-min.jpg"
						alt="-min" />
					<img
						class="col-9 front1"
						src="../assets/img/b3e0f496-6dd3-4a82-8dc2-acc0b8cd426c.jpg"
						alt="-min  1"
						srcset="" />
					<img
						class="col-7 middel"
						src="../assets/img/fgfgfgg-min.jpg"
						alt="fgfgfgg-min" />
				</div>
			</div>
		</div>
		<!-- part 7 -->
		<div class="bg-danger">
			<div class="container-lg">
				<div class="row text-bg-danger pt-5">
					<div class="col-6 col-lg-12 pt-5 mt-5">
						<div style="						height: 220px;					"
							class="col-sm-12 col-lg-6 offset-6 text-bg-light pb-5 mt-lg-4 p-3 mt-5 text-start part7text">
							<h5 class="fw-bolder">Happy Momments</h5>
							<p>
								Image to text converter is a free online image
								OCR tool that allows you to extract text from
								image at one click.
							</p>
							<button class="btn btn-danger mb-3">
								READ MORE
							</button>
							<p>
								Images from
								<span class="text-decoration-underline"
									>Freepik</span
								>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-3 col-lg-4 fw-bolder mt-0 text-end" style="						font-size: 75px;					">
							<i class="fa-sharp fa fa-quote-left fa-2xl"></i>
						</div>
						<div class="col">
							<p class="text-start mb-5 pb-5 pt-5 pt-lg-0" style="							min-width: 420px;						">
								What is sticky relative to? An element with
								position: sticky; is positioned based on the
								user's scroll position. A sticky element toggles
								between relative and fixed , depending on the
								scroll position. It is positioned relative until
								a given offset position is met in the viewport -
								then it "sticks" in place (like position:fixed).
							</p>
						</div>
					</div>
				</div>
				<!-- part 8 -->
			</div>
		</div>
		
		<div class="container-lg pt-5">
			<div class=" pt-5 " style="
			height: 600px;
		">
				<img class="col-6 family-img offset-2" src="../assets/img/vff-min.jpg" alt="family image">
				
				<div class="col-6 offset-6 last bg-light part7text p-3" style="			    top: -69px;	min-height: 150px;			">
					<h1>Happy <span class="fw-bolder">Family</span></h1>
					<p class="lh-lg ">
						This is a long paragraph written to show how the line-height of an element is affected by our utilities. Classes are applied to the element itself or sometimes.
					</p>
					
					<button class="btn btn-danger  ps-3 pe-3 mb-4 rounded-0">
						Learn More
					</button>
					<p>
						Images from
						<span class="text-decoration-underline"
							>Freepik</span
						>
					</p>


				</div>
				<div class="part-8round">

				</div>
			</div>
		</div>
		<div class="bg-danger p-4">
			<div class="container-lg bg-light  p-2">
				<div class="row m-4">
					<div class="col fw-bolder">
						<h1>GET FREE BOOK</h1>
					</div>
				</div>
				<div class="col p-2">
					<div class="row my-auto col-md-auto">
						<div class="col-9 col-lg-4">
							<p>
								Sample text.Click to select the text box. click
								again or double click to text-start editing the
								text.
							</p>
						</div>
						<div class=" d-flex  col-lg-6 row my-auto justify-content-evenly flex-wrap">
							
								<label class="col-3 col-lg-2 text-end mb-2">Name</label>
								<input
									class="col-8  bg-secondary-subtle "
									type="text"
									placeholder="Enter yout name" />
							
								<label class="col-3 col-lg-2 text-end ">Email</label>
								<input
									class="col-8 bg-secondary-subtle "
									type="text"
									placeholder="Enter a valid email address" />
							
						</div>
							<button class="btn btn-danger rounded-0">Submit</button>
						
					</div>
				</div>
			</div>
		</div>

		<!-- footer -->
		<div class="body1 p-2 pb-0">
		<div class="container-lg ">
			<footer class="bg-black">
				<div class="row foot justify-content-center text-light">
					<div class="col-9 col-md-7 my-5">
						sample text. Lorem ipsum dolor sit amet, consectetur
						adipiscing elit nullam nunc justo sagittis suscipit
						ultrices.
					</div>
				</div>
				<div class="d-flex foot justify-content-center text-light mt-5 ms-2 me-2">
					<p href="#">
						Website Templates <span>created with </span>Website
						Builder software
					</p>
				</div>
			</footer>

			
		</div></div>

		<!-- script files -->
		<script src="../js/script.js"></script>
		<!-- From bootstrap -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
			integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
			integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
			crossorigin="anonymous"></script>
	</body>
</html>
