<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home page Hotel serach page</title>
		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">

		<script src="../common/jquery.js"></script>
		<link
			href="../common/bootstrap_4.0.0_css_bootstrap.css"
			rel="stylesheet"
			id="bootstrap-css" />
		<script src="../common/maxcdn.bootstrapcdn.com_bootstrap_4.0.0_js_bootstrap.js"></script>
		<link href="./Navbar T_files/bootstrap.min.css" rel="stylesheet" />
		<link href="./Navbar T_files/font-awesome.min.css" rel="stylesheet" />
		<link
			href="./Navbar T_files/fonts.google400,100,300,700.css"
			rel="stylesheet" />
		<link href="./Navbar T_files/navbar.css" rel="stylesheet" />
		<script src="../common/maxcdn.bootstrapcdn.com_bootstrap_3.4.1_js_bootstrap.min.js"></script>
		<link href="../assets/css/home.css" rel="stylesheet" />
	</head>
	<body>
		<div id="navTab"></div>
		<div id="bestdeals"><h1>Best deals available for you hotels</h1></div>
		<div id="hotelList"><h1>Hotels Lists</h1></div>
		<div id="topClass"><h1>Top classed hotels</h1></div>
		<div id="toprated" ><h1>Toprated hotels</h1></div>
		<div id="serachrequest" style="display: none;"><h1>Search results <span class="warn text-danger fw-bolder" onclick='$("#toprated,#bestdeals,#hotelList,#topClass").show();$("#serachrequest").hide();'>&times;</span> </h1></div>

		<script src="./Navbar T_files/jquery-3.2.1.slim.min.js"></script>
		<script src="./Navbar T_files/popper.min.js"></script>
		<script src="../js/navbar.js"></script>
		<script src="../js/home.js"></script>
		<script src="../common/jquery.js"></script>

		<!-- Team -->
	</body>
</html>
