<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot page</title>
    <script src="../common/jquery.js"></script>
    <link href="../common/bootstrap_4.0.0_css_bootstrap.css" rel="stylesheet" id="bootstrap-css">
 
    <link href="./Navbar T_files/bootstrap.min.css" rel="stylesheet">
    <link href="./Navbar T_files/font-awesome.min.css" rel="stylesheet">
    <link href="./Navbar T_files/fonts.google400,100,300,700.css" rel="stylesheet">
    <link href="./Navbar T_files/navbar.css" rel="stylesheet">
    <script src="../common/maxcdn.bootstrapcdn.com_bootstrap_3.4.1_js_bootstrap.min.js"></script>
    <style>
      .warn {
  color: #f00;
}

.warn b {
  font-size: larger;
  font-weight: 900;
}
    </style>
</head>
<body>
    <div id="navTab">
    <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark px-sm-0 px-md-5 rounded justify-content-md-between">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#userNavbar" aria-controls="userNavbar" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="userNavbar">
        <ul class="navbar-nav ">
          <li class="nav-item ">
            <a class="nav-link" href="./home.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./profile.html">Profile</a>
          </li>
            <li class="nav-item">  <!--disabled -->
            <a class="nav-link " href="./booking.html">Bookings</a>
          </li>            
        </ul>
      </div>
    </nav>
  </div><!-- user navbar -->
    </div>
    
    <form class="login-form" id="ForgotPassForm" style="
    padding: 30px 50px;
    width: 500px;
    border: solid;
    margin: auto;
">
      <span onclick="location.href='home.html'">&times;</span>
      <h1 class="text-center text-info ">Reset Password From</h1>
      <p>
        <span class="warn"><b>&nbsp;*</b> </span>This field are Required
      </p>
      <div class="row justify-content-around text-left">
        <label for="option">option</label>
      <select class="col-4 form-control" name="option" id="option" >
        <option value="pass">Password</option>
        <option value="key">Key</option>
      </select>
    </div>
      <label for="name">User Email <span class="warn" id="errloginname"><b>&nbsp;*</b> </span></label>
      <input type="text" placeholder="username" id="LoginUserName" />
      <!-- option 1 by old password option 2 by secert key -->
      <label for="name">Old Password  <span class="warn" id="erroldpass"><b>&nbsp;*</b> </span></label>
      <input type="password" placeholder="password" id="oldpass" />

      <label for="name">SecertKey <span class="warn error" id="err_regkey">&nbsp; </span></label>
      <input type="text" placeholder="SecertKey" id="regkey"  disabled="disabled"/>
      <label for="name">New Password : <span class="warn error" id="err_Restpass"><b>&nbsp;*</b>&nbsp; </span></label>
      <input type="password" placeholder="password" id="resetpass" />
      <label for="name">Conform New Password : <span class="warn error" id="err_Resetcp"><b>&nbsp;*</b>&nbsp; </span></label>
      <input type="Password" placeholder="Conform password" id="resetcp" />
      <div class="justify-content-around ps-5">
        <button type="button" class="col-5  btn  btn-info " id="resetBtn">Reset</button>
        <button type="button" class="col-5   btn  btn-info order-last ms-3" onclick="location.href='home.html'">cancle</button>
      </div>
    </form>

    <script src="./Navbar T_files/jquery-3.2.1.slim.min.js"></script>
    <script src="./Navbar T_files/popper.min.js"></script>
    <script src="./Navbar T_files/bootstrap.min.js"></script>
    <script src="../js/navbar.js"></script>
    <script src="../js/forgotpassword.js"></script>
</body>
</html>