<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Room page to Booking room</title>
    <script src="../common/jquery.js"></script>
    <link href="../common/bootstrap_4.0.0_css_bootstrap.css" rel="stylesheet" id="bootstrap-css">
    <link href="./Navbar T_files/bootstrap.min.css" rel="stylesheet">
    <link href="./Navbar T_files/font-awesome.min.css" rel="stylesheet">
    <link href="./Navbar T_files/fonts.google400,100,300,700.css" rel="stylesheet">
    <link href="./Navbar T_files/navbar.css" rel="stylesheet">
    <script src="../common/maxcdn.bootstrapcdn.com_bootstrap_3.4.1_js_bootstrap.min.js"></script>
</head>
<body>
    <div id="navTab"></div>
    <div id="hotelDetails" class="container m-2 p-3">
        
    </div>
    <div id="roomlistselector"></div>
    <!-- <script src="./Navbar T_files/jquery-3.2.1.slim.min.js"></script> -->
    <script src="./Navbar T_files/popper.min.js"></script>
    <script src="./Navbar T_files/bootstrap.min.js"></script>
    <script src="../common/jquery.js"></script>
    <script src="../js/navbar.js"></script>
    <script src="../js/hotelRooms.js"></script>
</body>
</html>