<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>owner all hotels help And room booking</title>
    <script src="../common/jquery.js"></script>
    <link href="../common/bootstrap_4.0.0_css_bootstrap.css" rel="stylesheet" id="bootstrap-css">
 
    <link href="./Navbar T_files/bootstrap.min.css" rel="stylesheet">
    <link href="./Navbar T_files/font-awesome.min.css" rel="stylesheet">
    <link href="./Navbar T_files/fonts.google400,100,300,700.css" rel="stylesheet">
    <link href="./Navbar T_files/navbar.css" rel="stylesheet">

    <link href="../assets/css/editor/showallHotel.css" rel="stylesheet">
    
    <link rel="stylesheet" href="../common/dataTable/css/bootstrap@5.2.3.min.css">
    <link rel="stylesheet" type="text/css" href="../common/dataTable/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../common/dataTable/excel/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../common/dataTable/excel/cdn.datatables.net_buttons_1.5.6_css_buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../common/dataTable/excel/cdn.datatables.net_buttons_2.4.1_css_buttons.dataTables.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="navTab"></div>
    <!-- navbar -->
    <div class="container">
    <table id="HotelSearch" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>User id</th>
            <th>Hotelid</th>
            <th>Hotel Name</th>
            <th>Hotel Number</th>
            <th>Location</th>
            <th width="15%">Address</th>
            <th>Rating</th>
            <th>Hotel Image</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      </div>
      <div  id="HoteFrom" class="container modal" style="display: none;">
        <div class="modal-content">          
          <form >
          <span class="close" id="closeBtnHF">&times;</span>
            <h3 class="text-info text-center mb-4">Hotel Form</h3>
            <div class="form-group">
              <label for="HotelName" >Hotel Name</label> <span class="text-danger fw-bolder " id="errHtName"><b>*</b></span>
              <input type="text" class="form-control" id="HotelName" placeholder="Hotel Name">
            </div>
            <div class="form-group">
              <label for="HotelName">Hotel Location</label> <span class="text-danger fw-bolder " id="errHtLocation"><b>*</b></span>
              <input type="text" class="form-control" id="HotelLocation" placeholder="Hotel Location">
            </div>
            <div class="form-group">
              <label for="HotelNumber">Hotel countact Number</label> <span class="text-danger fw-bolder " id="errHtNumber"><b>*</b></span>
              <input type="text" class="form-control" id="HotelNumber" placeholder="Hotel countact Number">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Image path(url)</label> <span class="text-danger fw-bolder " ><b>*</b>Default image is provided</span>
              <input type="text" class="form-control" id="HTImage" placeholder="Hotel Image path(url)">
            </div>
            <div class="form-group">
              <label for="HTRt">Rating</label><span class="text-danger fw-bolder " id="errHTRt"><b>*</b></span>
              <input type="number" class="form-control" id="HTRt" >
            </div>
            <div class="form-group">
              <label for="HotelAddress">Hotel Address</label> <span class="text-danger fw-bolder " id="errHtAdd"><b>*</b></span>
              <textarea class="form-control" id="HotelAddress" rows="2" placeholder="Hotel Address"></textarea>
            </div>
            <div class="d-block text-center ">
                <button id="HotelUpdateBtn" type="button" class="btn btn-outline-success border-0   " >Update</button>
                <button id="HotelDiscard" type="button" class="btn btn-outline-danger border-0 " >Discard</button>
            </div>
          </form>
        </div>
      </div>
    
    <script src="./Navbar T_files/jquery-3.2.1.slim.min.js"></script>
    <script src="./Navbar T_files/popper.min.js"></script>
    <script src="./Navbar T_files/bootstrap.min.js"></script>
    
    <script src="../common/dataTable/js/jquery@3.6.1.min.js"></script>
    <script src="../common/dataTable/js/bootstrap@5.2.3.min.js"></script>   
    <script src="../common/dataTable/js/jquery.dataTables.min.js"></script>
    <script src="../common/dataTable/excel/dataTables.buttons.min.js"></script>
    <!-- <script src="../common/dataTable/excel/cdnjs.cloudflare.com_ajax_libs_jszip_3.10.1_jszip.min.js"></script> -->

    <script src="../js/navbar.js"></script>
    <script src="../js/editor/showallHotel.js"></script>
    <script src="../js/editor/addhotel.js"></script>
</body>
</html>